[Unit] Description=x-ui After=network.target

[Service]
Environment="XUI_DEBUG=true"
Environment="XUI_DB_TYPE=mysql"
Environment="XUI_DB_DSN=root:frif2003@tcp(127.0.0.1:3306)/xui_db?charset=utf8mb4&parseTime=True&loc=Local"
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/x-ui/
ExecStart=/usr/local/x-ui/x-ui
Restart=on-failure
RestartSec=5s

[Install] WantedBy=multi-user.target