[Unit] Description=x-ui Service After=network.target

[Service] User=root ExecStart=/usr/local/bin/x-ui Restart=always StandardOutput=syslog StandardError=syslog SyslogIdentifier=x-ui Environment="XUI_DB_TYPE=mysql" Environment="XUI_DB_DSN=root:frif2003@tcp(127.0.0.1:3306)/xui_db?charset=utf8mb4&parseTime=True&loc=Local"

[Install] WantedBy=multi-user.target
